<section class="forms">
  <div class="forms__pop-up-overlay"></div>
  <form class="forms-pop-up" id="call-request-form" method="post" action="javascript:{compeliteWindow();}">
    <div class="forms-pop-up__close-btn"></div>
    <h5 class="forms-pop-up__head">Оформите заявку и наши менеджеры вам перезвонят</h5>
    <input class="forms-pop-up__input-text  required" type="text" placeholder="Имя" name="name">
    <input class="forms-pop-up__input-text  required" id="pop-up-tel" type="text" placeholder="Телефон" name="tel">
    <button class="forms-pop-up__submit" type="submit">Оформить</button>
  </form>
  <div class="complete-window">
    <div class="forms-pop-up__close-btn"></div>
    <p class="complete-window__text">Спасибо за заявку</p>
  </div>
</section>