<section class="header">
  <div class="main-header  content-wr-1100">
    <a class="header-logo" href="#"></a>
    <nav class="header-main-nav">
      <ul class="header-main-nav-ul">
        <li class="header-main-nav-ul-item">
          <a href="#contacts-anchor" class="header-main-nav-ul-item__link">Контакты</a>
        </li>
        <li class="header-main-nav-ul-item">
          <a href="#we-anchor" class="header-main-nav-ul-item__link">О компании</a>
        </li>
        <li class="header-main-nav-ul-item">
          <a href="#review-anchor" class="header-main-nav-ul-item__link">Отзывы</a>
        </li>
      </ul>
    </nav>
    <div class="header-contacts">
      <a class="header-contacts__tel" href="tel:89221574214">+7 (922) 157 42 14</a>
      <a class="header-contacts__tel" href="tel:79222232162">+7 (922) 223 21 62</a>
      <a href="#" class="header-contacts__button" id="header-call-request-btn">Заказать звонок</a>
    </div>    
  </div>
  <nav class="header-sites-nav" id="top_nav">
    <ul class="header-sites-nav-ul">
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#item-1-anchor">Сайт визитка</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#item-2-anchor">Лендинг</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#item-3-anchor">Корпоративный сайт</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#item-5-anchor">Каталог</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#item-4-anchor">Интернет магазин</a>
      </li>
      <li class="header-sites-nav-ul-item  header-sites-nav-ul__item--bg-dark">
        <a class="header-sites-nav-ul-item__link" href="#">Дополнительно</a>
        <ul class="header-sites-nav-ul-item-drop-down">
          <li class="header-sites-nav-ul-item-drop-down-item">
            <a class="header-sites-nav-ul-item-drop-down-item__link" href="#">Продвижение сайтов</a>
          </li>
          <li class="header-sites-nav-ul-item-drop-down-item">
            <a class="header-sites-nav-ul-item-drop-down-item__link" href="#">Контекстная реклама</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</section>