<section class="header">
  <div class="main-header  content-wr">
    <div class="header-logo"></div>
    <nav class="header-main-nav">
      <ul class="header-main-nav-ul">
        <li class="header-main-nav-ul-item">
          <a href="#" class="header-main-nav-ul-item__link">Контакты</a>
        </li>
        <li class="header-main-nav-ul-item">
          <a href="#" class="header-main-nav-ul-item__link">О компании</a>
        </li>
        <li class="header-main-nav-ul-item">
          <a href="#" class="header-main-nav-ul-item__link">Отзывы</a>
        </li>
      </ul>
    </nav>
    <div class="header-contacts">
      <a class="header-contacts__tel" href="tel:89221574214">+7 (922) 157 42 14</a>
      <a class="header-contacts__tel" href="tel:79222232162">+7 (922) 223 21 62</a>
      <a href="#" class="header-contacts__button">Заказать звонок</a>
    </div>    
  </div>
  <nav class="header-sites-nav">
    <ul class="header-sites-nav-ul  content-wr">
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#">Сайт визитка</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#">Лендинг</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#">Корпоративный сайт</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#">Каталог</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#">Интернет магазин</a>
      </li>
      <li class="header-sites-nav-ul-item  header-sites-nav-ul__item--bg-dark">
        <a class="header-sites-nav-ul-item__link" href="#">Дополнительно</a>
      </li>
    </ul>
  </nav>
</section>