//
// Variables
// --------------------------------------------------

// Colors
// --------------------------
@fontColored: #0c6fb4;
@mainColor: #0c6fb4;

// Fonts
// --------------------------
@sansFont: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFont: Georgia, Cambria, "Times New Roman", Times, serif;
@monoFont: Monaco, Menlo, Consolas, "Courier New", monospace;

@smallerFontSize: 10px;
@baseFontSize: 12px; 
@biggerFontSize: 14px;
@baseFontFamily: @sansFont;
@baseLineHeight: 15px;
@bigLineHeight: 17px;
@altFontFamily: @serifFont;




